/****** Object:  StoredProcedure [dbo].[modificarPersona]    Script Date: 12/11/2020 23:55:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[modificarPersona]
@Id int
,@Nombre varchar(40)
,@IdTipoDcumentoIdentidad int
,@FechaNacimiento date
,@Email nchar(100)
,@Telefono1 int
,@Telefono2 int


AS
BEGIN    
	SET NOCOUNT ON;
	BEGIN TRY

		UPDATE [dbo].[Persona]
		SET	   [Nombre] =@Nombre
			  ,[IdTipoDocumentoIdentidad] = @IdTipoDcumentoIdentidad
			  ,[FechaNacimiento] = @FechaNacimiento
			  ,[Email] = @Email
			  ,[Telefono1] = @Telefono1
			  ,[Telefono2] = @Telefono2

		WHERE Id=@Id
		
	END TRY
	BEGIN CATCH

	END CATCH
    SET NOCOUNT OFF;
END
