{% extends "layout.html" %}
{% block body %}
<div class="botonesRedi">

    <h1>Administración de Cuentas Bancarias</h1>
    <form action="/admiBeneficiario">
        <button class="btn btn-primary btn-block btn-large">Ir a beneficiarios</button>
    </form>
    
    <form action="/admiCuentaAhorroMultas">
        <button class="btn btn-primary btn-block btn-large">Cuentas con multas</button>
    </form>

    <form action="/admiCuentaObjetivo">
        <button class="btn btn-primary btn-block btn-large">Ir a cuentas objetivo</button>
    </form>

</div>

    
<form action="/">
    <button type="submit" class="btn btn-primary btn-block btn-large">Cerrar sesion</button>
</form>

{% endblock %}