{% extends "layout.html" %}
{% block body %}

{% with messages =get_flashed_messages()%}

{%if messages%}
{%for message in messages%}
<p class="bene">{{message}}</p>
{%endfor%}
{%endif%}

{%endwith%}
<div class="bene">
    <div class="insertarBene">
        <form action="/insertarBene" method="POST">
            <input type="text" name="valorDoc" placeholder="Valor documento identidad" required="required" />
            <input type="text" name="porcentaje" placeholder="porcentaje" required="required" />
            <select name="parentezco">

                <option value="1">Padre</option>
                
                <option value="2">Madre</option>
                
                <option value="3">Hijo</option>

                <option value="4">Hija</option>

                <option value="6">Hermana</option>

                <option value="7">Amigo</option>

                <option value="8">Amiga</option>
                
                </select>
            <button class="btn btn-primary">Insertar</button>
        </form>

    </div>


    <div class="tablaBene">
        <table>
            <thead>
                <tr>
                <td>Identificacion</td>
                <td>Parentezco</td>
                <td>Porcentaje</td>
                </tr>
            </thead>
            <tbody>
                {%for bene in datos%}
                    <tr>
                        <td>{{bene.0}}</td>
                        <td>{{bene.2}}</td>
                        <td>{{bene.1}}</td>
                        <td>
                            <a href="/editarBene/{{bene.0}}" class="btn btn-primary">Editar</a>
                            <a href="/borrarBene/{{bene.0}}" class="btn btn-primary">Borrar</a>
                        </td>

                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>

<a href="/volverAlMenu" class="btn btn-primary">Regresar al menu principal</a>

</div>

{% endblock %}