{% extends "layout.html" %}
{% block body %}

<div class="CuentasOBjetivo">
    <h1>Cuentas Objetivo</h1>
    
    <a href="/volverAlMenu" class="btn btn-primary">Regresar al menu principal</a>
    <a href="/crearCuentaObjetivo" class="btn btn-primary">Crear una cuenta Objetivo</a>
    <div class="tablaCuentaObjetivo">
        <table>
            <thead>
                <tr>
                <td>Descripcion</td>
                <td>Dias de rebajo</td>
                <td>Cuota</td>
                <td>Fecha Inicio</td>
                <td>Fecha Fin</td>
                </tr>
            </thead>
            <tbody>
                {%for CuentaObjetivo in data%}
                    <tr>
                    <td>{{CuentaObjetivo.4}}</td>
                    <td>{{CuentaObjetivo.2}}</td>
                    <td>{{CuentaObjetivo.3}}</td>
                    <td>{{CuentaObjetivo.0}}</td>
                    <td>{{CuentaObjetivo.1}}</td>
                    <td>
                        <a href="/modificarCuentaObjetivo/{{CuentaObjetivo.4}}" class="btn btn-primary">Modificar</a>
                        <a href="/desactivarCuentaObjetivo/{{CuentaObjetivo.4}}" class="btn btn-primary">desactivar</a>
                    </td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    
</div>

{% endblock %}