{% extends "layout.html" %}
{% block body %}
;<h1>Estados de Cuenta</h1>
<section class="contenedor flex">
    <div class="bloque">
        <h2>Estado 1</h2>
        <hr>
        <p>Fecha Inicial:</p>
        <p>10/10/2020 
        </p>
        <p>Fecha Final:</p>
        <p>5/11/2020
        </p>
        <hr>
        <p>Saldo</p>
        <p>Anterior 2000 
            Nuevo 5000
        </p>
        <hr>
        <button type="submit" class="btn btn-primary btn-block btn-large">Ver detalles</button>
    </div>
    <div class="bloque">
        <h2>Estado 2</h2>
        <hr>
        <p>Fecha Inicial:</p>
        <p>10/10/2020 
        </p>
        <p>Fecha Final:</p>
        <p>5/11/2020
        </p>
        <hr>
        <p>Saldo</p>
        <p>Anterior 2000 
            Nuevo 5000
        </p>
        <hr>
        <button type="submit" class="btn btn-primary btn-block btn-large">Ver detalles</button>
    </div>
    <div class="bloque">
        <h2>Estado 3</h2>
        <hr>
        <p>Fecha Inicial:</p>
        <p>10/10/2020 
        </p>
        <p>Fecha Final:</p>
        <p>5/11/2020
        </p>
        <hr>
        <p>Saldo</p>
        <p>Anterior 2000 
            Nuevo 5000
        </p>
        <hr>
        <button type="submit" class="btn btn-primary btn-block btn-large">Ver detalles</button>
    </div>
    <div class="bloque">
        <h2>Estado 4</h2>
        <hr>
        <p>Fecha Inicial:</p>
        <p> 10/10/2020 
        </p>
        <p>Fecha Final:</p>
        <p> 5/11/2020
        </p>
        <hr>
        <p>Saldo</p>
        <p>Anterior 2000 
            Nuevo 5000
        </p>
        <hr>
        <button type="submit" class="btn btn-primary btn-block btn-large">Ver detalles</button>
    </div>
  </section>
{% endblock %}