{% extends "layout.html" %}
{% block body %}
{% with messages =get_flashed_messages()%}

{%if messages%}
{%for message in messages%}
<p class="bene">{{message}}</p>
{%endfor%}
{%endif%}

{%endwith%}

<div class="login">
	<h1>Login</h1>
    <form action="/entrar" method="post">
    	<input type="text" name="u" placeholder="Usuario" required="required" />
        <input type="password" name="p" placeholder="Contraseña" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Iniciar sesion</button>
    </form>
</div>

{% endblock %}